[Desktop Entry]
Exec=sh -c "sleep 3 ; flatpak run me.timschneeberger.GalaxyBudsClient /StartMinimized"
Name=GalaxyBudsClient
StartupNotify=false
Terminal=false
Type=Application
X-GNOME-Autostart-Delay=10
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
X-KDE-autostart-phase=2
X-MATE-Autostart-Delay=10
